div.firstdiv{
    font-size: large;
    background-color: rgb(255, 0, 170);
    width: 700px;
    height: 50px;
}

#1 {
    background-color: rgb(0, 0, 0);
}


#2 {
    background-color: rgb(255, 0, 191);
}



#3 {
    background-color: rgb(0, 0, 0);
}



#4 {
    background-color: rgb(255, 0, 191);
}



#5 {
    background-color: rgb(0, 0, 0);
}



#6{
    background-color: rgb(255, 0, 191);
}

#7{
    background-color: rgb(0, 0, 0);
}










